<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	  
	<th:block th:fragment="encabezado"> 
		<head>
			<meta charset="utf-8" />
			<title>Evaluacion Anonima</title>
			<!-- Agregar bootstrap en cuestion de estilos css -->
			<link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
			<link rel="stylesheet" type="text/css" th:href="@{css/estilos.css}"> 
		</head>
	</th:block> 
    
    <body>
    
		<div th:fragment="navbar" class="container-nav">
      		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
         		<a class="navbar-brand" th:href="@{/}"><p style="text-align:center">Inicio</p></a>
         		<a class="navbar-brand" th:href="@{/inicioSesion}">Iniciar Sesión</a>
         		<a class="navbar-brand" th:href="@{/registrarse}">Registrarse</a>
      		</nav>
    	</div>
    	
    	<div class="contenedor">
      		<img src="img/inicio.jpg" alt="evaluacion" width="100%">
   		</div>
		
		<th:block th:fragment="script">	
		     <script src="webjars/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
		     <script src="webjars/bootstrap/5.1.3/js/bootstrap.min.js" type="text/javascript"></script>
		<th:block>
		
	</body>
</html>