<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	  
	<head th:insert="index::encabezado">
		
	</head>
    
    <body>
    
    	<div th:insert="index::navbar"></div>
   
        <div class="contenedor" style="border:1px solid #C7C8C6;border-radius:22px;width:70%;height:400px;margin-left: auto;margin-right: auto;">
      		<form action="inicio.html" method="POST">
        		<div style="border:1px solid #AFB0AE;border-radius:15px; width:500px;height:55px;"><h1>Datos personales</h1></div><br><br>
        			<input type="text" style="width: 30%" class="control-registro" placeholder="Nombre" required autofocus>
        			<input type="text" style="width: 30%" class="control-registro" placeholder="Apellido Paterno" required autofocus><br><br>
        			<input type="text" style="width: 30%" class="control-registro" placeholder="Apellido Materno" required autofocus>
        			<input type="text" style="width: 30%" class="control-registro" placeholder="Edad" required autofocus><br><br>
        			<input type="text" style="width: 30%" class="control-registro" placeholder="Matricula" required autofocus>
        			<input type="text" style="width: 30%" class="control-registro" placeholder="Correo" required autofocus><br><br>
        			Selecciona curso o taller <select name="cursos">
          				<option>Matematicas</option>
          				<option>Lenguaje</option>
          				<option>Quimica</option>
        		    </select>
        			<br><br>
        			<button onclick="alert('Informacion guardada');" class="btn btn-lg btn-primary btn-block" type="submit" style="display: block; margin: 0 auto;" >Registrarse</button>
      		</form>
    	  </div>
    <th:block th:insert="index::script">		
	</body>
</html>